<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.cqupt.d2.dao.HospitalMapper">

    <select id="selectByPrimaryKey" resultType="edu.cqupt.d2.domain.Hospital" parameterType="String">
        select * from Hospital where Hospital_ID = #{id}
    </select>



</mapper>