<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.cqupt.d2.dao.PatientMapper">

    <select id="selectByPrimaryKey" resultType="edu.cqupt.d2.domain.Patient" parameterType="String">
        select * from Patient where Patient_UID = #{uid}
    </select>



</mapper>