<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.cqupt.d2.dao.PostMapper">

    <!-- 定义resultMap-->
    <resultMap id="allMap" type="edu.cqupt.d2.domain.Post">
        <id property="Post_No" column="Post_No"></id>
        <result property="User_Name" column="User_Name"></result>
        <result property="UID" column="UID"></result>
        <result property="Post_Headline" column="Post_Headline"></result>
        <result property="Post_Content" column="Post_Content"></result>
        <result property="Post_Time" column="Post_Time"></result>
        <!-- 配置集合的映射 -->
        <collection property="comments" ofType="edu.cqupt.d2.domain.Comment2Post">
            <id column="C2P_No" property="C2P_No"></id>
            <result column="Post_No" property="Post_No"></result>
            <result column="C2P_UID" property="C2P_UID"></result>
            <result column="C2P_Name" property="C2P_Name"></result>
            <result column="C2P_Content" property="C2P_Content"></result>
            <result column="C2P_Time" property="C2P_Time"></result>
            <!-- 再配置集合的映射 -->
            <collection property="comments" ofType="edu.cqupt.d2.domain.Reply2Comment">
                <id column="R2C_No" property="R2C_No"></id>
                <result column="R2C_Comment_No" property="R2C_Comment_No"></result>
                <result column="Be_R2C_UID" property="Be_R2C_UID"></result>
                <result column="Be_R2C_Name" property="Be_R2C_Name"></result>
                <result column="R2C_UID" property="R2C_UID"></result>
                <result column="R2C_Name" property="R2C_Name"></result>
                <result column="R2C_Content" property="R2C_Content"></result>
                <result column="R2C_Time" property="R2C_Time"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="selectByPrimaryKey" resultType="edu.cqupt.d2.domain.Post" parameterType="double">
        select * from Post where Post_No = #{no}
    </select>
    <select id="RselectByPrimaryKey" resultType="edu.cqupt.d2.domain.Post" parameterType="double">
        select * from BanPost where Post_No = #{no}
    </select>

    <select id="selectAllByPost_No" resultMap="allMap" parameterType="double">
        SELECT * FROM Post p LEFT OUTER JOIN Comment2Post c2p
        ON p.`Post_No`=c2p.`Post_No`
        LEFT OUTER JOIN Reply2Comment r2c
        ON c2p.`C2P_No`=r2c.`R2C_Comment_No`
        WHERE p.`Post_No`=#{no};
    </select>

    <select id="selectLimitedPosts" resultMap="allMap">
	    SELECT * FROM Post p LEFT OUTER JOIN Comment2Post c2p
        ON p.`Post_No`=c2p.`Post_No`
        GROUP BY Post_Time DESC
        LIMIT #{param1},#{param2};
    </select>

    <insert id="insertPost" parameterType="edu.cqupt.d2.domain.Post">
        INSERT INTO Post(User_Name,UID,Post_Content,Post_Headline,Post_Time) VALUES
        (#{User_Name},#{UID},#{Post_Content},#{Post_Headline},#{Post_Time});
    </insert>

    <update id="updatePath">
        UPDATE Post
        SET Post_Content=#{param1}
        WHERE Post_No=#{param2};
    </update>

    <update id="updatePost">
        UPDATE Post
        SET Post_Content=#{param1}
        WHERE Post_No=#{param2};
    </update>

    <insert id="insertbanPost" parameterType="edu.cqupt.d2.domain.Post">
        INSERT INTO BanPost(Post_No,User_Name,UID,Post_Content,Post_Headline,Post_Time)
        VALUES(#{Post_No},#{User_Name},#{UID},#{Post_Content},#{Post_Headline},#{Post_Time});
    </insert>

    <update id="RupdatePost">
        UPDATE Post
        SET Post_Content=#{param1}
        WHERE Post_No=#{param2};
    </update>

    <delete id="RdeletebanPost" parameterType="double">
        DELETE FROM BanPost WHERE Post_No = #{no};
    </delete>
</mapper>